<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>Urban Pet Farm</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Urban pet farm is a place to find quality dog agility equipment, dog accesories, and dog care items.">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="sitecss.css">
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" onclick="backtopage()">Urban Pet Farm</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#pricing">PRODUCTS</a></li>
                    <li><a href="#contact">CONTACT</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="jumbotron text-center">
        <h1>Urban Pet Farm</h1>
    </div>
    <a class="previous" href="index.html">Previous</a>
    <div id="pricing" class="container-fluid">
        <div class="text-center">
        </div>
        <div class="row slideanim">
        <div class="col-sm-4 col-xs-12">
            <div class="panel panel-default text-center">
                <a href="doglight.html">
                    <div class="panel-heading">
                        <h1>Dog Light</h1>
                    </div>
                    <div class="panel-body">
                        <img src="doglight1.jpg">
                    </div>
                    <div class="panel-footer">
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12">
            <div class="panel panel-default text-center">
                <a href="grommeted-dog-leash.html">
                    <div class="panel-heading">
                        <h1>Grommeted Dog Leash</h1>
                    </div>
                    <div class="panel-body">
                        <img src="doglight1.jpg">
                    </div>
                    <div class="panel-footer">
                    </div>
                </a>
            </div>
        </div>
        
        <div class="col-sm-4 col-xs-12">
            <div class="panel panel-default text-center">
                <a href="dog-wastebag-holder.html">
                    <div class="panel-heading">
                        <h1>Dog wastebag holder</h1>
                    </div>
                    <div class="panel-body">
                        <img src="doglight1.jpg">
                    </div>
                    <div class="panel-footer">
                    </div>
                </a>
            </div>
        </div>
    </div>
    </div>
    <!-- Container (Contact Section) -->
    <div id="contact" class="container-fluid bg-grey">
        <h2 class="text-center">CONTACT</h2>
        <div class="row">
            <div class="col-sm-5">
                <p>Contact us and we'll get back to you within 24 hours.</p>
                <p><span class="glyphicon glyphicon-phone"></span> +00 1515151515</p>
                <p><span class="glyphicon glyphicon-envelope"></span> myemail@something.com</p>
            </div>
            <div class="col-sm-7 slideanim">
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                    </div>
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                    </div>
                </div>
                <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
                <br>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <button class="btn btn-default pull-right" type="submit">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js.js"></script>
</body>

</html>
